venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
.eggs/
depression.db
*.sqlite3
data/
static/uploads/*
static/reports/*
!static/uploads/.gitkeep
!static/reports/.gitkeep

# Ignore documents and installers
*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.msi
*.mp4
*.avi

# Ignore all videos by default, but track specific names
sample_videos_pro/*
!sample_videos_pro/Divya_*.mp4
!sample_videos_pro/Grandpa_*.mp4
!sample_videos_pro/IT_*.mp4
!sample_videos_pro/Mark_*.mp4
!sample_videos_pro/Shreya*.mp4
!sample_videos_pro/student_*.mp4

sample_videos/
uml_diagrams/
