venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
.eggs/
depression.db
*.sqlite3
data/
static/uploads/*
static/reports/*
!static/uploads/.gitkeep
!static/reports/.gitkeep

# Ignore documents and installers
*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.msi
*.mp4
*.avi
sample_videos_pro/
sample_videos/
uml_diagrams/
